@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

.img-flex {
	display: block;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul {
	padding: 10px;
	list-style-type: none;
}

li {
	list-style-type: none;
}

header {
	background-color: red;
	position: relative;
}


.nav {
	font-family: 'VT323', sans-serif;
	width: 15em;
	margin: 35px 0 0 0;
	display: none;
	background-color: green;
	position: absolute; /*inline keeps it within the header */
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-label {
	margin: 15px 0 0 5px;
	display: inline-block;
	cursor: pointer;

}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	padding: 0;
}

.nav a:hover {
	background-color: blue;
}

.nav-open {
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-close {
	display: none;
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-check:checked ~ .nav-label .nav-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}

.current {
	color: gray;
}

.logo {
	height: 100px;
	width: 150px;
}

.logo-foot {
	height: 100px;
	width: 150px;
}

.foot {
	background-color: black;
}

.img-link {
	cursor:pointer;
	height: 335px;
}

.contact-links {
	margin: auto;
}

.btop {
	margin: 15px 0 0 5px;
	display: inline-block;
	cursor: pointer;
}

.nex {
	font-family: 'VT323', sans-serif;
	width: 100%;
	background-color: yellow;
	position: relative;
}

.nex-list {
	padding-left: 10px;
	display: inline;
}

.nex-list-sml {
display: none;

}


@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {

	header {
		float: left;
		width: 200px;
		height: 100vh;
		position: fixed;
	}

	main {
		float: right;
		width: calc(100% - 210px);
		padding: 3em;
	}

	.nav-label {
	display: none;
}
	.nav {
		display: block;
		margin: 12em 0 0 0;
		background-color: transparent;
	}

	.nav li {
		display: block;
	}

	.logo {
		display: block;
	}

	.process-large {
		margin: 0 3em 0 1em;
	}

	.logo-foot {
		display: absolute;
	}

	.foot {
		background-color: transparent;
	}

	.logo-foot {
		display: none;
	}

	.nex {
	display: none;
}

	.nex-list-sml {
		display: block;
	}


}
