@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

.img-flex {
	display: block;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

header {
	background-color: #ED0241;
	position: relative;
}

.nav {
	font-family: 'VT323', sans-serif;
  font-size: 1.2656rem;
	width: 10em;
	margin: 10px 0 0 0;
	display: none;
	position: inline-block; /*inline keeps it within the header/ changed from absolute,*/
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-label {
	margin: 20px 0 0 10px;
	display: inline-block;
	cursor: pointer;
}

.nav-pad {
	padding: 10px 0 10px 20px;
}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	padding: 0;
}

.nav a:hover {
	padding: 3px;
	background-color: white;
}

.nav-open {
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-close {
	display: none;
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-check:checked ~ .nav-label .nav-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}

.current {
	color: gray;
}

.logo {
	height: 100px;
	width: 145px;
}

.logo-foot {
	height: 100px;
	width: 145px;
}

.bck2top {
	margin: 15px 0 0 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
}

.foot {
	background-color: #ED0241;
}

.img-link {
	cursor: pointer;
	height: 335px;
}

.contact-links {
	margin: auto;
}

.nex {
	font-family: 'VT323', sans-serif;
  font-size: 1.2656rem;
	height: 2.75em;
	background-color: #EAB000;
}

.next {
	padding: 12px 16px 12px 12px;
	background-color: #EAB000;
	display: block;
	text-align: right
}

.back {
	padding: 12px 12px 12px 16px;
	background-color: #EAB000;
	display: block;
}

.nex-list-nav {
	display: none;
}

.next-prev-large {
	display: none;
}

/* - -- --- -- - -

.ptf-img-lnk {
    position: relative;
}

.ptf-img-lnk  img:hover {
	outline: 3px solid #3f5cff;
}

.details {
    position: absolute;
    opacity: 0;
    left: 45px;
    top: 45px;
    right: 45px;
    bottom: 45px;
    background-color: white;
    border: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.details p {
    margin-bottom: 0;
}

.ptf-img-lnk:hover .details {
    opacity: 1;
}

*/
@media only screen and (min-width: 38em) {
}

@media only screen and (min-width: 60em) {

	header {
		float: left;
		width: 200px;
		height: 100vh;
		position: fixed;
	}

	main {
		float: right;
		width: calc(100% - 210px);
		padding: 3em;
	}

	.nav-label {
		display: none;
}
	.nav {
		display: block;
		font-size: 1.1250rem;
		margin: 8em 0 0 0;
		background-color: transparent;
		position: absolute;
	}

	.nav li {
		display: block;
	}

	.logo {
		display: block;
		z-index: 1000;
	}

	.process-large {
		margin: 0 3em 0 1em;
	}

	.logo-foot {
		display: absolute;
	}

	.foot {
		background-color: transparent;
	}

	.logo-foot {
		display: none;
	}

	.nex {
	display: none;
}

	.nex-list-nav {
		display: block;
	}

.next-prev-large {
	display: none;
}

}
