@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

img {

	display: block;
}

body {
	margin: 0;

}

.nav {
	display: none;
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: grey;
}


.logo {
	width: 150px;
}


@media only screen and (min-width: 25em) {

	.nav {
		display: block;
	}

	.nav li {
		display: inline-block;
	}
}

@media only screen and (min-width: 38em) {


.nav li {
	display: block;
}
}
