@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

.img-flex {
	display: block;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;

}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

header {
	background-color: red;
}

.nav {
	display: none;
	background-color: green;
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: grey;
	padding: 0;
}


.logo {
	height: 100px;
	width: 150px;
}

.nav-open {
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-closed {
	padding: 8px;
	width: 50px;
	height: 50px;
}


@media only screen and (min-width: 25em) {

/*
	.nav {
		display: block;
	}

	.nav li {
		display: inline-block;
	}
	*/
}

@media only screen and (min-width: 38em) {

}
