@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}



.img-flex {
	display: block;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}


a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

a:focus {
  outline: 2px solid #000;
}

a:hover {
	color: #ED0241;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h2 {
	margin-bottom: 0.25em;
}

.concept-pad {
	margin-top: 16px;
}

.skip-links {
	color: black;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

li {

}

header {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000000;
	overflow: hidden;
	/* background-image: url("../img/pattern.png"); */
}

.masthead {
	padding: 5em 10px 0 10px;
}

.nav {
	font-size: 1.1250rem;
	width: 10em;
	margin: 10px 0 0 0;
	 /*display: none; */
}

.nav-pad {
	padding: 10px 20px 10px 0;
	width: 100%;
}

.nav li {
	padding-right: 15px;
	list-style-type: none;
	display: inline;
}


/* .nav-check:checked ~ .nav {
	display: block;
}

.nav-label {
	display: inline-block;
	cursor: pointer;
}

.nav-check {
	position: absolute;
	top: -4em;
}

.nav-check:checked ~ .nav-label {
	padding: 0;
}

.nav-open {
	margin-left: 8px;
	padding: 10px;
	width: 50px;
	height: 50px;
}

.nav-close {
	display: none;
	margin-left: 7px;
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-check:checked ~ .nav-label .nav-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}
*/

.nav a:hover {
	color: #ED0241;
	border-bottom: 2px solid black;
}


.current {
	color: #ED0241;
	border-bottom: 2px solid #ED0241;
}

.logo {
	height: 60px;
	width: 120px;
	margin: 5px 0px 0px 10px;
}


.logo a {
	display: block;
}

.bck2top {
	margin-left: 8px;
	padding: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
}

.cc {
	margin-top: 10px;
	padding-right: 20px;
}

.img-link {
	cursor: pointer;
}


.nex {
	font: 100% 'Cormorant Infant', 'Times', serif;
  font-size: 1rem;
	height: 4.65em;

}

.next {
	padding: 12px 10px 12px 12px;
	display: block;
	text-align: right;
}

.back {
	padding: 12px 12px 12px 8px;
	display: block;
}

.nextback-text {
	color: black;
}

.nextback-text:hover {
	letter-spacing: .5px;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
}

.nextback-text a:hover {
	color: #ED0241;
}

.nex-list-nav {
	display: none;
}

.next-prev-large {
	display: none;
}

.ptf-img-lnk {
	position: relative;
	display: block;
}

.ptf-img-lnk:hover {
	z-index: 1000;
	border: none;
}

.title-align {
	text-align: center;
}

.title-align-meduim {
	text-align: center;
}

.overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(100, 100%, 100%, 0.75);
    border: 0;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-content: space-around;
    -ms-flex-line-pack: space-around;
    align-content: space-around;

    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
}

.overlay h3 {
	margin: 20px 10px 0 20px ;
	color: black;
}

.ptf-img-lnk:hover .overlay {
	opacity: 1;
	border: none;
}

p {
	padding: 0 .75em;
}

.bg-img{
	padding: 1em;
	background-image: url("../img/errorimgs/ghosts.png");
	background-repeat: repeat;
}

.bg-img-1{
	padding: 1em;
	background-image: url("../img/errorimgs/space.png");
	background-repeat: repeat;
	cursor: url("http://ani.cursors-4u.net/games/gam-16/gam1547.cur") 16 16, pointer;
}

.text-bx {
	padding: 1em;
	margin: 2em;
	background-color: white;
}

.errormsg {
	padding: 0;
}

.errorh {
	color:#ED0241;
}

.salt-link {
	background-color: #ED0241;
	color: white;
	font-weight: bold;
	padding: 5px;
}

.salt-link:hover {
	color: black;
	border: 0;
}

hr {
	border: 0;
	height: 5px;
	background-color: #ED0241;
	color: #ED0241;
}

.portrait {
	padding: 8px;
	border: 6px solid black;
}

.portrait-pad {
	padding-bottom: 1.5em;
}

.contact-links {
	margin: auto;
}

.contact-link-padding {
	padding-right: 1.5rem;
}

.contact-style a{
	color: #ED0241;
}

.contact-style a:hover {
	color: black;
	border-bottom: 2px solid #ED0241;
}

.pad-email {
	padding: 0.75em;
}

@media only screen and (min-width: 38em) {

	.title-align-meduim {
		text-align: left;
		padding-left: .75em;
}

	.bg-img {
		padding: 5em;
}

	.bg-img-1 {
		padding: 5em;
}

	.text-bx {
		padding: 3em;
}

.nex {
	font-size: 1.2656rem;
}

.second-para {
	padding-left: 1.5rem;

}

.portrait-pad {
	padding-right: .75rem;
	padding-left: .75rem;
}

}

@media only screen and (min-width: 60em) {

	header {
		float: left;
		width: 200px;
		height: 100vh;
		position: fixed;
	}

	main {
		float: right;
		width: calc(100% - 210px);
		padding: 2em 3em 3em 3em;

	}

	.masthead {
		padding-top: 0;
	}

	.nav-label {
		display: none;
}
	.nav {
		font-size: 1.0000rem;
		display: block;
		margin: 8em 0 0 0;
		padding: 0;
	}

	.nav li {
		text-align: left;
		display: block;
		margin-top: 5px;
	}

	.logo {
		display: block;
		z-index: 1000;
		margin: 35px 0px 0px 30px;
	}

	.process-large {
		margin: 0 3em 0 1em;
	}

	.cc {
		display: none;
	}

	.logo-foot {
		display: none;
	}

	.nex {
		width: 100%;
		display: block;
}

	.nex-list-nav {
		display: block;
	}

	.title-align {
		text-align: left;
}

	.title-align-meduim {
		padding-left: 0;
}

	.contact-links {
		margin: 0;
}

	p {
		padding: 0;
}

.portrait-pad {
	padding-left: 0;
	padding-right: 1.5rem;
}

}

@media only print {

	header {
		display: none;
	}

	.nav
	.nav-open
	.nav-close {
		display: none;
	}

	.bck2top
	.cc {
		display: none;
}

	.footer {
		display: none;
	}

	.nex
	.next
	.back
	.nextback-text
	{
		display: none;
}


}
