@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

@font-face {
	font-family: 'Halant';
	src: url('fonts/halant-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Halant';
	src: url('fonts/halant-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


.img-flex {
	display: block;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

a:focus {
  outline: 2px solid #000;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h2 {
	margin-bottom: 0.25em;
}

.skip-links {
	color: black;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

li {
	list-style-type: none;
}

header {
	background-color: white;
	position: relative;
	background-image: url("../img/pattern.png");
}

.nav {
	font-size: 1.1250rem;
	width: 10em;
	margin: 10px 0 0 0;
	display: none;
	position: inline-block; /*inline keeps it within the header/ changed from absolute,*/
	background-color: white;
}


.nav-check:checked ~ .nav {
	display: block;
}

.nav-label {
	margin: 20px 0 0 10px;
	display: inline-block;
	cursor: pointer;
}

.nav-pad {
	padding: 10px 0 10px 20px;
}

.nav-check {
	position: absolute;
	top: -4em;
}

.nav-check:checked ~ .nav-label {
	padding: 0;
}

.nav a:hover {
	padding: 4px;
	background-color: #ED0241;
}

.nav-open {
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-close {
	display: none;
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-check:checked ~ .nav-label .nav-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}

.current {
	color: red;
}

.logo {
	height: 100px;
	width: 130px;
	margin-left: 10px;
}

.logo-foot {
	height: 100px;
	width: 145px;
}

.bck2top {
	margin: 15px 0 0 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
}

.foot {
	background-color: #ED0241;
}

.img-link {
	cursor: pointer;
}

.contact-links {
	margin: auto;
}

.nex {
  font-size: 1.2656rem;
	height: 2.75em;
	background-color: #EAB000;
}

.next {
	padding: 12px 16px 12px 12px;
	background-color: #EAB000;
	display: block;
	text-align: right
}

.back {
	padding: 12px 12px 12px 16px;
	background-color: #EAB000;
	display: block;
}

.nex-list-nav {
	display: none;
}

.next-prev-large {
	display: none;
}


.ptf-img-lnk {
	position: relative;
	display: block;
}

.ptf-img-lnk:hover {
	z-index: 1000;
}

.title-align {
	text-align: center;
}

.overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.80);
    border: 0;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-content: space-around;
    -ms-flex-line-pack: space-around;
    align-content: space-around;

    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: right;
}

.overlay h1 {
	margin: 25px 0 0 20px ;
	color: white;
}

.ptf-img-lnk:hover .overlay {
	opacity: 1;
}

.cc {
	width: 100px;
	margin: 10px;
}

@media only screen and (min-width: 38em) {
}

@media only screen and (min-width: 60em) {

	header {
		float: left;
		width: 200px;
		height: 100vh;
		position: fixed;
	}

	main {
		float: right;
		width: calc(100% - 210px);
		padding: 3em;
	}

	.nav-label {
		display: none;
}
	.nav {
		font-size: 1.0000rem;
		display: block;
		margin: 8em 0 0 0;
		background-color: white;
		position: absolute;
	}

	.nav li {
		display: block;
	}

	.logo {
		display: block;
		z-index: 1000;
	}

	.process-large {
		margin: 0 3em 0 1em;
	}

	.logo-foot {
		display: absolute;
	}

	.foot {
		background-color: transparent;
	}

	.logo-foot {
		display: none;
	}

	.nex {
		width: 100%;
		display: block;
}

	.nex-list-nav {
		display: block;
	}

	.title-align {
		text-align: left;
}

	.contact-links {
		margin: 0;
}

}
