<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Elizabeth Nichols</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/grid.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/type.css">

	<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Halant:500|VT323' rel='stylesheet' type='text/css'>
</head>


<body>

<header class="head grid" id="top">
<!-- logo stuff (sider really) -->
<div class="unit unit-xs-1-2 unit-s-1-2 unit-m-2-3 unit-l-1">
	<input type="checkbox" class="nav-check" id="nav-check">
		<label class="nav-label" for="nav-check">
			<img class="gutter-2 nav-open" src="{{site.baseurl}}/icons/nav-open.svg" alt="Open Navigation">
			<img class="gutter-2 nav-close" src="{{site.baseurl}}/icons/nav-close.svg" alt="Close Navigation">
		</label>
	<nav class="nav">
		<ul class="">
			<li><a class="" href="{{site.baseurl}}/portfolio">Work</a></li>
			<li><a class="" href="#contact">Contact</a></li>
		</ul>
	</nav>
</div>

<div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1 text-right">
	<img class="logo" src="{{site.baseurl}}img/temp-logo.svg">
</div>
</header>

{{content}}

<footer class="grid foot">
	<div class="unit unit-xs-1-2 unit-s-1-2 unit-m-2-3 unit-l-2-3 ">
		<a class="btop giga gutter-1-2" href="#top">Top</a>
	</div>
	<div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1-3 text-right">
		<img class="logo-foot" src="{{site.baseurl}}/img/temp-logo.svg">
	</div>
</footer>


</body>
</html>
