<!DOCTYPE html>
<html lang="en-ca">
<head>
	<link rel="shortcut icon" href="{{site.baseurl}}/icons/favicon.ico"/>
	<meta charset="utf-8">
	<title>{{site.baseurl}}{{page.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/portfolio.css">

	<meta property="og:type" content="article">
  <meta property="og:title" content="Portfolio of Elizabeth Nichols">
  <meta property="og:url" content="http://enichols.ca/">
  <meta property="og:image" content="{{site.baseurl}}/../img/socialmediaimg/portraitfb.jpg">
  <meta property="og:site_name" content="Elizabeth Nichols">

  <meta name="twitter:card" content="My work">
  <meta name="twitter:title" content="Portfolio of Elizabeth Nichols">
  <meta name="twitter:url" content="http://enichols.ca">
  <meta name="twitter:description" content="Portfolio site">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="{{site.baseurl}}/../img/socialmediaimg/portraittwitt.jpg">

</head>


<div class="skip-links">
<a href="#banner">Jump to header</a>
<a href="#navigation">Jump to navigation</a>
<a href="#main">Jump to main content</a>
<a  href="#footer" alt="on large screens, there is no footer">Jump to footer</a>
</div>

<body>

<header class="head grid" id="banner">
<!-- logo stuff (sider really) -->
<div class="unit unit-xs-1-2 unit-s-1-2 unit-m-2-3 unit-l-1">
	<input type="checkbox" class="nav-check" id="nav-check">
		<label class="nav-label" for="nav-check">
			<img class="nav-open" src="{{site.baseurl}}/icons/nav-open.svg" alt="Open Navigation">
			<img class="nav-close" src="{{site.baseurl}}/icons/nav-close.svg" alt="Close Navigation">
		</label>
	<nav class="nav-pad nav" id="navigation" role="navigation">
		<ul>
			<li><a href="{{site.baseurl}}/" {% if page.url == '/' %} class="current" {% endif %}>Home</a></li>
			<li><a href="{{ site.baseurl }}/2015/10/20/accursed/">Portfolio</a></li>
			<li><a href="{{ site.baseurl }}/contact/" {% if page.url == '/contact/' %} class="current" {% endif %} >Contact</a></li>

		</ul>
	</nav>
</div>

<div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-3 unit-l-1 text-right">
	<a href="{{site.baseurl}}/index.html"> <img class="logo" src="{{site.baseurl}}/img/logo-2.svg" alt="link back to home" ></a>
</div>

</header>

<main id="main" role="main">

{{content}}

</main>

<footer class="grid" id="footer">
	<div class="unit unit-xs-1-2 unit-s-2-3 unit-m-2-3 unit-l-2-3">
		<a href="#top"> <img class="bck2top" src="{{site.baseurl}}/icons/back-to-top.svg" alt="back to top"></a>
	</div>

	<div class="unit text-right unit-xs-1-2 unit-s-1-3 unit-m-1-3">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"> <p class="cc">©️ Elizabeth Nichols</p> </a>
	</div>
</footer>


</body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70810310-1', 'auto');
  ga('send', 'pageview');

</script>
