---
layout: default
---
<meta name="description" content="">
<div class="skip-links">
	<a href="#nav2">Jump to next/back navigation</a>
</div>

<nav class="nex" id="nav2" role="navigation-next-back">
	<ul class="grid">
		{% if page.previous %}
			<li class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-2">
			<a class="back nextback-text" href="{{site.baseurl}}{{page.previous.url}}">Back</a></li>
		{% endif %}

		{% if page.next %}
			<li class="unit unit-xs-1-2 {% if page.previous == nil %}unit-offset-xs-1-2{% endif %}"><a class="next nextback-text" href="{{site.baseurl}}{{page.next.url}}">Next</a></li>
		{% endif %}
	</ul>
</nav>


<div class="grid">
	<div class="unit unit-xs-1 title-align pad-t">
		<h1>{{ page.title}}</h1>
	</div>
</div>

<div class="grid">
	<div class="unit unit-xs-1 title-align-meduim">
		<h2>Concept</h2>
	</div>

		<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2">
			<p> {{ page.concept1 }} </p>
		</div>

	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2">
		<p> {{ page.concept2 }} </p>
		</div>
</div>

<div class="grid push-1-2">
	<div class="unit unit-xs-1 title-align-meduim">
		<h2>Process</h2>
	</div>


	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2">
		<p> {{ page.process1 }} </p>
	</div>

	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2">
		<p> {{ page.process2 }} </p>
	</div>

{% for img in page.processimages %}
		<div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3 island-1-4">
			<img class="img-flex" src="{{site.baseurl}}/img/portfolio-img/{{img}}" alt="{{site.baseurl}}{{page.processalt}}">
		</div>
		{% endfor %}

</div>


<div class="grid">
	<div class="unit unit-xs-1 title-align-meduim">
		<h2>Final</h2>
	</div>

	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2">
		<p> {{ page.finalwords1 }}</p>
	</div>

<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 gutter-1-2">
<p>
{% if page.finalwords2link %}
		<a href="{{ page.finalwords2link }}">Read Salt</a>
	{% else %}
		{{ page.finalwords2 }}
	{% endif %}
	</p>
	</div>

{% for img in page.finalimages %}
			<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 island-1-4">
				<img class="img-flex" src="{{site.baseurl}}/img/portfolio-img/{{img}}" alt="{{site.baseurl}}">
			</div>
		{% endfor %}

			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 island-1-4">
				<img class="img-flex" src="{{site.baseurl}}/img/portfolio-img/{{img}}{{page.finalbig}}" alt="{{site.baseurl}}{{page.finalalt}}">
			</div>

</div>
