---
layout: default
---

<!-- logo stuff (sider really) -->

	<nav class="nav">
		<ul class="nav-pad">
			<li><a class="nex-list-nav" href="{{ page.next.url }}">Next</a></li>
			<li><a class="nex-list-nav" href="{{ page.previous.url }}">Back</a></li>
		</ul>
	</nav>


<nav class="unit unit-xs-1 nex">
	<ul class="">
		<li><a class="back unit-xs-1-2" href="{{page.previous.url}}">Back</a></li>
		<li><a class="next unit-push-xs-4-4 unit-xs-1-2" href="{{page.next.url}}">Next</a></li>
	</ul>
</nav>


<main>

<div class="grid">
	<div class="unit unit-xs-1 text-center">
		<h1></h1>
		<!-- title -->
	</div>
</div>

<div class="grid">
	<div class="unit unit-xs-1 text-center">
		<h2>Concept</h2>
	</div>
		<div class="unit unit-xs-1 gutter">
			 <p> {{ post.concept }} </p>
<!--concept -->
		</div>
	</div>
</div>

{{content}}

</main>

